[Desktop Entry]
Name=AuraLink VPN
Comment=Cross-Distro Shadowsocks & tun2socks VPN Client for Linux
Exec=/usr/local/bin/auralink gui
Icon=auralink
Terminal=false
Type=Application
Categories=Network;VPN;Security;
Keywords=vpn;shadowsocks;tun2socks;proxy;security;auralink;
StartupNotify=true
