[Desktop Entry]
Name=ShadowTun VPN
Comment=Cross-Distro Shadowsocks & tun2socks VPN Client for Linux
Exec=/usr/local/bin/shadowtun gui
Icon=shadowtun
Terminal=false
Type=Application
Categories=Network;VPN;Security;
Keywords=vpn;shadowsocks;tun2socks;proxy;security;shadowtun;
StartupNotify=true
